<launch>
    <node pkg="libuvc_camera" type="camera_node" name="mycam">
        <!-- Parameters used to find the camera -->
        <param name="vendor" value="0x0"/>
        <param name="product" value="0x0"/>
        <param name="serial" value=""/>
        <!-- If the above parameters aren't unique, choose the first match: -->
        <param name="index" value="0"/>

        <!-- Image size and type -->
        <param name="width" type="int" value="1280" />
        <param name="height" type="int" value="720" />
        <!-- choose whichever uncompressed format the camera supports: -->
        <param name="video_mode" value="mjpeg"/>        <!-- or yuyv/nv12/uncompressed -->
        <param name="frame_rate" value="30"/>

        <param name="timestamp_method" value="start"/> <!-- start of frame -->
        <param name="camera_info_url" value="file:///tmp/cam.yaml"/>

        <param name="auto_exposure" value="3"/> <!-- use aperture_priority auto exposure -->
        <param name="auto_white_balance" value="false"/>

        <remap from="/image_raw" to="/camera/rgb/image_raw"/>
    </node>
</launch>